# dependencies
node_modules

# env files
.env
.env.local
.env.development.local
.env.production.local

# build files
dist
build

# logs
logs
*.log

# coverage
coverage

# vscode
.vscode

# mac
.DS_Store

# turbo
.turbo

# frontend
apps/frontend/dist

# backend
apps/backend/logs